<ion-nav-bar class="bar-stable"></ion-nav-bar>
<ion-view>
    <ion-nav-view></ion-nav-view>
    <div class="bar bar-footer bar-stable">
        <div class="button-bar">
            <button ng-show="hasPreviousStep()" class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="prev()">&nbsp;Back</button>
            <button class="button icon ion-navicon button-clear button-dark" ng-click="showMenu()"></button>
            <button ng-show="hasPreviousStep()" class="button icon-right ion-wand button-clear button-dark" ng-click="confirmRestart()">Restart&nbsp;</button>
        </div>
    </div>
</ion-view>
